footer {
  color: $white;
  background-color: map-get($oai-pallet, color3);
  padding: 40px 0;
  .container {
    grid-column: 2;
    .row {
      .col {
        h4 {
          &.h1 {
            margin: 0;
          }
        }
        .address {
          margin: 1.45rem;
          p {
            margin: 0;
            a {
              color: $white;
              text-decoration: none;
              cursor: pointer;

              &:hover,
              &:focus,
              &:active {
                color: $alt-white;
                text-decoration: underline;
              }
            }
          }
        }
        .info {
          display: flex;
          align-items: center;
          justify-content: space-around;
          max-width: 300px;
          margin: 0 auto;
          
          a {
            color: $white;
          }
        }
      }
    }
  }
}