@use "../mixins/breakpoints.scss" as *;
@use "../misc/colors.scss" as *;

.home-banner {
  min-height: 650px;
  display: block;
  position: relative;

  @include breakpoints(really_big) {
    background: url(/banners/home_banner_1750.jpg) no-repeat center/cover;
  }
  @include breakpoints(large desktop sm_desktop lg_tablet) {
    background: url(/banners/home_banner_1200.jpg) no-repeat center/cover;
  }
  @include breakpoints(tablet) {
    background-image: url(/banners/home_banner_950.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 500px;
  }
  @include breakpoints(nav) {
    background-image: url(/banners/home_banner_950.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 400px;
  }
  @include breakpoints(mobile) {
    background-image: url(/banners/home_banner_500.jpg);
    background-size: contain;
    min-height: 265px;
  }

  .headlineParent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: #eee;
    margin: 0 auto;
    text-align: center;
  }

  .headline {
    color: $white;
    text-shadow: 0px 0px 4px #333;
    font-size: 2rem;
    margin: 0;
    position: relative;
    padding-bottom: 30px;

    &::after {
      content: "";
      width: 5rem;
      height: 5px;
      position: absolute;
      display: block;
      z-index: 55555555;
      background: #8DA7BE;
      text-align: center;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .subHeadline {
    text-shadow: 0px 0px 4px $text;
    font-size: 1.25rem;
    font-weight: bold;
  }

}
