@import "../misc/colors.scss";

.accordion__label {
  display: block;
  background-color: #2b2d42ff;
  border: 1px solid #2b2d42ff;
  color: #eee;
  padding: 1.5rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-transform: uppercase;
}

.accordion__content {
  background-color: #eee;
  padding: 2rem;
  border: 3px solid #333;
  color: #333;
  border-radius: 0 0 5px 5px;
  max-width: 99%;
  margin: -35px auto 25px;
  animation: slide 0.3s forwards;
}

.accordion__plus {
  margin-left: 2rem;
}

input:checked ~ .accordion__label {
  .accordion__plus {
    animation: twist 0.3s forwards;
    transform-origin: center center;
  }
}

input:not(:checked) ~ .accordion__label {
  .accordion__plus {
    animation: revert_twist 0.3s forwards;
    transform-origin: center center;
  }

  margin-bottom: 25px;
}

input[type="checkbox"],
input:not(:checked) ~ .accordion__content {
  display: none;
}

@keyframes revert_twist {
  0% {
    transform: rotate(47deg);
  }
  50% {
    transform: rotate(23.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes twist {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(23.5deg);
  }
  100% {
    transform: rotate(47deg);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
