html {
  font-size: 16px;
  color: #333;
}

%h1 {
  font-size: 2.25rem;
  font-family: "Montserrat Bold", Georgia;
  text-transform: capitalize;
}

%h2 {
  font-size: 1.62671rem;
  font-family: "Montserrat Bold", Georgia;
  text-transform: capitalize;
}

%h3 {
  font-size: 1.38316rem;
  font-family: "Montserrat SemiBold", Georgia;
}
%h4 {
  font-size: 1rem;
  font-family: "Montserrat SemiBold", Georgia;
}
%h5 {
  font-size: 0.85028rem;
  font-family: "Montserrat SemiBold", Georgia;
}
%h6 {
  font-size: 0.78405rem;
  font-family: "Montserrat Regular", Georgia;
}
%p {
  font: 112.5%/1.45em "Montserrat Regular", Georgia;
}

.h1,
h1 {
  @extend %h1;
}
.h2,
h2 {
  @extend %h2;
}
.h3,
h3 {
  @extend %h3;
}
.h4,
h4 {
  @extend %h4;
}
.h5,
h5 {
  @extend %h5;
}
.h6,
h6 {
  @extend %h6;
}
.p,
p,
li,
a {
  @extend %p;
}

.text-white {
  color: $white;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: capitalize;
}