#body {
  display: grid;
  grid-template-areas:
    'header''header''header'
    'body''body''body'
    'footer''footer''footer';
  grid-template-rows: 0px auto auto;
}

main {
  grid-area: body;
  grid-column: 1/4;

  section {
    display: grid;

    .container {
      grid-column: 2;
    }

    &.intro,
    &.sub {
      @include breakpoints(really_big large desktop sm_desktop) {
        grid-template-columns: auto 900px auto;
      }

      @include breakpoints(sm_desktop lg_tablet tablet nav mobile) {
        grid-template-columns: 1fr 4fr 1fr;
      }
    }

    &.sub {
      margin: 70px auto;
    }

  }

}

.about {
  main {
    section {
      @include breakpoints(really_big large desktop sm_desktop){
        margin: 70px auto;
      }
      @include breakpoints(lg_tablet tablet nav mobile){
        margin: 50px auto;
      }
    }
  }
}



footer {
  grid-area: footer;
  grid-column: 1/4;
  display: grid;

  @include breakpoints(really_big large desktop sm_desktop) {
    grid-template-columns: auto 900px auto;
  }

  @include breakpoints(sm_desktop lg_tablet tablet nav mobile) {
    grid-template-columns: 1fr 4fr 1fr;
  }

  @include breakpoints(tablet nav mobile) {
    max-width: 768px;
  }
}